<div class="container-fluid vh-100 overflow-auto">
  <h1 class="heading-font my-3 primary-color">PORTFOLIO</h1>
  <div class="row gy-5 mb-5 p-5">
    <!-- project-1  -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card rounded-4 shadow p-2">
        <img src="work-1.png" class="rounded-4 shadow-sm" alt="work1" />
        <div class="card-body">
          <hr />
          <h4 class="card-title">E-commerce website</h4>
          <div class="d-flex justify-content-between">
          <span class="text-secondary">HTML, CSS, JS</span>
          <a href="https://kulasekaran-ecommerce.netlify.app/" target="_blank"><button class="btn btn-dark rounded-pill">View</button></a>
          </div>
        </div>
      </div>
    </div>
    <!-- project-2 -->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card rounded-4 shadow p-2">
          <img src="work-3.png" class="rounded-4 shadow-sm" alt="work1" />
          <div class="card-body">
            <hr />
            <h4 class="card-title">Netflix Clone Website</h4>
            <span class="text-secondary">HTML, CSS, JS</span>
          </div>
        </div>
      </div>
    <!-- project-3 -->
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card rounded-4 shadow p-2">
        <img src="work-2.png" class="rounded-4 shadow-sm" alt="work1" />
        <div class="card-body">
          <hr />
          <h4 class="card-title">Adaptive Media Clone Website</h4>
          <span class="text-secondary">HTML, Bootstrap</span>
        </div>
      </div>
    </div>
    <!-- project-4 -->
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card rounded-4 shadow p-2">
          <img src="work-4.png" class="rounded-4 shadow-sm" alt="work1" />
          <div class="card-body">
            <hr />
            <h4 class="card-title">Expense Tracker</h4>
            <div class="d-flex justify-content-between">
                <span class="text-secondary">Angular</span>
                <a href="https://expense-tracker-a00fe.web.app/" target="_blank"><button class="btn btn-dark rounded-pill">View</button></a>
                </div>
          </div>
        </div>
      </div>

    
  </div>
</div>
