<div class="vh-100 overflow-auto">
  <h1 class="m-4">PRODUCTS</h1>
  <div class="container">
    <div class="row">
      <div
        class="card col-9 col-md-4 col-lg-3 text-center m-5 p-3"
        *ngFor="let product of products"
      >
        <img
          [src]="product.url"
          class="cart-img-top mx-auto"
          alt=""
          width="200px"
        />
        
        <div class="card-body">
          <div class="card-title">{{ product.title }}</div>
          <p class="text-danger">{{ product.price | currency : "INR" }}</p>
        </div>
        <hr>
        <div class="body-footer d-flex justify-content-between align-items-center">
            <h4 class="badge text-bg-secondary rounded-pill ">{{product.badge}}</h4>
          <button class="btn btn-dark rounded-pill" [routerLink]="['/product-view',product.id]">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
